<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  ">
    <!-- main -->
    <div class="col">
        <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
            <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                <li class="active" ng-init="refreshData('minute')" ng-click="refreshData()"><a href>Minutes</a></li>
                <li><a href ng-click="refreshData('hour')">Hours</a></li>
                <li><a href ng-click="refreshData('days')">Days</a></li>
            </ul>
            <div ui-jq="plot" ui-refresh="bw" ui-options="
        [
          {
            data: {{bw}},
            points: { show: true, radius: 2},
            splines: { show: true, tension: 0.4, lineWidth: 1 }
          }
        ],
        {
          colors: ['{{app.color.info}}', '{{app.color.primary}}'],
          series: { shadowSize: 3 },
          xaxis:{ font: { color: '#507b9b' } },
          yaxis:{ font: { color: '#507b9b' } },
          grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#1c2b36' },
          tooltip: true,
          tooltipOpts: { content: 'Visits of %x.1 is %y.4',  defaultTheme: false, shifts: { x: 10, y: -25 } }
        }
      " style="min-height:360px">
            </div>
        </div>
    </div>
</div>