<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " ng-controller="FlotChartDemoCtrl">
    <div>
        <!-- main -->
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
                    <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                        <li class="active" ng-init="refreshData('minute')" ng-click="refreshData()"><a href>Minutes</a>
                        </li>
                        <li><a href ng-click="refreshData('hour')">Hours</a></li>
                        <li><a href ng-click="refreshData('days')">Days</a></li>
                    </ul>
                    <div class="col-lg-10"></div>
                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels"
                            chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top 5 Protocols</div>
                    <div class="panel-body" ng-init="topFive()">
                        <canvas id="pie" class="chart chart-pie" chart-legend="true"
                                chart-data="pieData" chart-labels="pieLabel">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top Destinations</div>
                    <div class="panel-body" ng-init="topDest()">
                        <canvas id="topDest" class="chart chart-doughnut" chart-data="topDestData"
                                chart-labels="topDestLabels" chart-legend="true"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top Source</div>
                    <div class="panel-body text-center" ng-init="topSrc()">
                        <canvas id="topSource" class="chart chart-doughnut" chart-data="topSrcData"
                                chart-labels="topSrcLabels" chart-legend="true"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        Last Analysis
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <small>last</small>
                            <time am-time-ago="time.ago"></time>
                        </h4>
                        <div class="inline">
                            <span class="h2 m-l-sm step">
                                <label>{{sizePacket}}</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
