<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false;
    app.settings.asideDock = false;
  " ng-controller="FlotChartDemoCtrl">
    <div>
        <!-- main -->
        <div class="row">
            <div class="col-lg-12">
                <div class="bg-black dker wrapper-lg" ng-controller="FlotChartDemoCtrl">
                    <div>
                        <div class="col-lg-8">
                            <ul class="nav nav-pills nav-xxs nav-rounded m-b-lg">
                                <li ng-repeat="filter in byFilters"
                                    ng-click="refreshData(byFilters[$index], prevDate, nextDate)"
                                    ng-init="refreshData(byFilters[0], prevDate, nextDate)"
                                    ng-class="{sel: $index == selected}">
                                    <a href>{{filter}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-2">
                            <div class="datepicker" date-format="yyyy/MM/dd" selector="form-control">
                                <div class="input-group">
                                    <input class="form-control" ng-model="prevDate" placeholder="Choose a date"/>
                                    <span class="input-group-addon" style="cursor: pointer"><i
                                            class="fa fa-lg fa-calendar"></i></span>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-2">
                            <div class="datepicker" date-format="yyyy/MM/dd" selector="form-control">
                                <div class="input-group">
                                    <input class="form-control" ng-model="nextDate" placeholder="Choose a date"/>
                                    <span class="input-group-addon" style="cursor: pointer"><i
                                            class="fa fa-lg fa-calendar"></i></span>
                                </div>
                            </div>
                            <!--<div class="datepicker" date-format="yyyy/MM/dd" button-next-title="next month">-->
                            <!--<input ng-model="nextDate" type="text"/>-->
                            <!--</div>-->
                        </div>
                    </div>

                    <canvas id="line" class="chart chart-line" chart-data="data"
                            chart-labels="labels" legend="false"
                            chart-click="onClick">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top 5 Protocols</div>
                    <div class="panel-body" ng-init="topFive()">
                        <canvas id="pie" class="chart chart-pie" chart-legend="true"
                                chart-data="pieData" chart-labels="pieLabel">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top Destinations</div>
                    <div class="panel-body" ng-init="topDest()">
                        <canvas id="topDest" class="chart chart-doughnut" chart-data="topDestData"
                                chart-labels="topDestLabels" chart-legend="true"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">Top Source</div>
                    <div class="panel-body text-center" ng-init="topSrc()">
                        <canvas id="topSource" class="chart chart-doughnut" chart-data="topSrcData"
                                chart-labels="topSrcLabels" chart-legend="true"
                                chart-click="onClick">
                        </canvas>
                    </div>
                </div>
            </div>


            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading font-bold">
                        Last Analysis
                    </div>
                    <div class="panel-body text-center">
                        <h4>
                            <small>last</small>
                            <time am-time-ago="time.ago"></time>
                        </h4>
                        <div class="inline">
                            <span class="h2 m-l-sm step">
                                <label>{{sizePacket}}</label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
